#logo_img {
    border-width: 0px;
    width: 120px;
    height: 40px;
}
.search_size{
    width:100%;
    height:50px;
}
.row_container{
    margin-bottom:15px;
}
.sign_btn{
    background-color: #fff;
    border: 1px solid #ccc;
    color: #ccc;
}
.sign_input_container{
    margin-right:10px
}

#mask{position: fixed;z-index: 999999;top: 0;bottom: 0;left: 0;right: 0;display: none;}
#mask .loading{padding: 10px 15px;background: #333;opacity: 0.75;text-align: center;color: #FFF;line-height: 23px;position: fixed;left:0;right: 0;bottom: 0;top: 0;width: 120px;height: 65px;z-index: 999999;margin: auto;border-radius: 4px;}

/*用户模态框*/
#create_modal .filePicker div:nth-child(2){width:100%!important;height:100%!important;}
#create_modal .filePicker{
    top:35px;
}
#create_modal #headimg_container {
    width: 75px;
    height: 75px;
}

#create_modal #photo_container{
    display: flex;
}
#create_modal #photo_container div{
    margin:0 10px;
    width: 75px;
    height: 75px;
    background-color:rgba(242, 242, 242, 1);
    position:relative;
}
#create_modal #photo_container .voice{
    position: absolute;
    left: 25px;
    top: 21px;
}
#create_modal #photo_container .delete{
    cursor:pointer;
    position: absolute;
    top: -11px;
    right: -8px;
}

#create_modal .col-md-2 .input-group{
    width:100%
}